<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PETRUK - Pengaduan Infrastruktur</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="../../lib/animate/animate.min.css" rel="stylesheet" />
    <link href="../../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Navbar Start -->
    <section id="navbar">
      <nav class="navbar navbar-expand-lg sticky-top py-lg-3 bg-dark"></nav>
      <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-lg-5 py-lg-0" style="box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
        <a href="AdminlandingPage.html">
          <img class="logo px-lg-4" src="../../img/logoBlack.png" alt="LOGO PELAN" >
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav navbar-menu">
            <a href="AdminlandingPage.html" class="nav-item nav-link active">
              <i class="fas fa-home"></i>
              HOME
            </a>
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">PROFIL</a>
              <div class="dropdown-menu bg-light m-0">
                <a href="../vm.html" class="dropdown-item">VISI DAN MISI</a>
                <!-- <a href="profile.html" class="dropdown-item">PROFILE</a> -->
                <a href="../filosofi.html" class="dropdown-item">FILOSOFI</a>
              </div>
            </div> 
            <div class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">INFORMASI</a>
              <div class="dropdown-menu bg-light m-0">
                <a href="#" class="dropdown-item">BERITA</a> 
                <a href="#" class="dropdown-item">STATISTIK</a>
                <a href="#" class="dropdown-item">EVENT</a>
                <a href="#" class="dropdown-item">KOMUNITAS</a>
                <a href="#" class="dropdown-item">PANDUAN PETRUK</a>
                <!-- <a href="#" class="dropdown-item">INFO PELAPORAN</a> -->
              </div>
            </div>
            <a href="../laporJalan.html" class="nav-item nav-link">PENGADUAN</a>
            <a href="../dataJalan.html" class="nav-item nav-link">DATA</a>
            <a href="#" class="nav-item nav-link">GALERI</a>
            <a href="../donasi.html" class="nav-item nav-link">DONASI</a>
            <a href="../faq.html" class="nav-item nav-link">FAQ</a>
            <a href="#" class="nav-item nav-link">TENTANG KAMI</a>
            <a href="../kontak.html" class="nav-item nav-link">KONTAK KAMI</a>
          </div>
        </div>
        <div class="ml-4">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img src="../../img/akun.jpg" alt="Avatar Logo" style="width:50px;" class="rounded-pill"> </a>
            <div class="dropdown-menu bg-light m-0">
              <a href="AdminProfile.html" class="dropdown-item">PROFILE</a>
              <a href="../auth/login.html" class="dropdown-item"><i class=""></i>KELUAR</a>
            </div>
          </div>
        </div>
      </nav>
    </section>
    <!-- Navbar End -->

  <!-- Content Start -->
    <!-- ---Banner Start----- -->
    <section id="banner">
      <div class="container-fluid banner">
        <div class="container">
          <div class="row py-lg-5">
            <div class="col-md-6 py-lg-5 wow fadeInUp" data-wow-delay="0.1s">
              <h5 class="text-light">Selemat datang di</h5>
              <h1 class="text-light judul">WEBSITE PENGADUAN <br> INFRASTRUKTUR</h1>
            </div>
            <div class="col-lg-4 ">
              <img src="../../img/truck.png" class="gambar-banner wow fadeInUp" data-wow-delay="0.2s">
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- ---Banner End---- -->

    <!-- ----About Website Start--- -->
    <section id="main">
      <div class="container-fluid main-content py-lg-5">
        <div class="container wow fadeInUp" data-wow-delay="0.8s">
          <h1 class="text-primary">TENTANG WEBSITE</h1>
          <p class="text-light">Anda dapat melaporkan berbagai infrastruktur dalam negeri yang sudah tidak layak dipakai atau terdapat kerusakan melalui website ini. Dengan adanya ini kami berharap agar mendorong kemajuan pengembangan infrastruktur yang merata sehingga dapat menuju Indonesia lebih maju.</p>
          <p class="text-light mt-3">Ayo Laporkan Infrastruktur tidak layak pakai, Disini!</p>
          <a href="#" class="btn btn-primary btn-lg">LAPORKAN SEKARANG</a>
        </div>
      </div>
    </section>
    <!-- ---About Website End--- -->
  <!-- ----Content End----- -->
      
    <!-- Footer Start -->
    <div class="container-fluid bg-dark footer wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-8 col-md-6 wow fadeInUp">
            <img class="pb-sm-3" src="../../img/logoWhite.png" alt="Logo Pelan" width="150px">
            <p>
              FINAL PROJECT WEB PROGRAMMING
            </p>
            <div class="d-flex pt-2">
              <a class="btn btn-square btn-outline-primary me-1" href="">
                <i class="fab fa-twitter"></i>
              </a>
              <a class="btn btn-square btn-outline-primary me-1" href="">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a class="btn btn-square btn-outline-primary me-1" href="">
                <i class="fab fa-youtube"></i>
              </a>
              <a class="btn btn-square btn-outline-primary me-0" href="">
                <i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
            
          <div class="col-lg-0 col-md-4 wow fadeInUp">
            <p>Supported By:</p>
            <h4 class="text-light">UNIVERSITAS AMIKOM YOGYAKARTA</h4>
            <a href="timCreative.html"> CREATIVE TIM </a>
            </div>
        </div>
    </div>

      <div class="container-fluid copyright">
        <div class="container justify-content-center">
          <div class="row">
            <div class="col-md-6 text-center mb-3 mb-md-0">
              <a>copyright </a> &copy; <a href="#">PETRUK - Pengaduan Infrastruktur</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Back to Top -->
    <a href="AdminlandingPage.html" class="btn btn-lg btn-primary btn-lg-square back-to-top"
      ><i class="bi bi-arrow-up"></i
    ></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../lib/wow/wow.min.js"></script>
    <script src="../../lib/easing/easing.min.js"></script>
    <script src="../../lib/waypoints/waypoints.min.js"></script>
    <script src="../../lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="../../js/main.js"></script>
  </body>
</html>
